extends layout

block content
  h1= title
  p Welcome to #{title}
  p AssignedRoom #{room.name}
  script.
    let room = "#{room}"
    let roomName = "#{room.name}"
    let roomId = "#{room._id}"
  script(src='#{socketVersion}')
  script(src='javascripts/room.js')

